@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Noto+Sans:wght@400;500;600;700&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .code-gradient {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(9, 9, 11, 0) 100%);
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background-light dark:bg-background-dark font-display text-slate-900 dark:text-white antialiased selection:bg-primary selection:text-white;
    }
}